main {
  background-color: rgb(230, 230, 230);
  width: 100%;
  padding-bottom: 500px;
}

.first-section, .second-section {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 80px 10%;
  column-gap: 50px;
  row-gap: 40px;
  max-width: 100vw;
}

.second-section {
  color: rgb(230, 230, 230);
  grid-template-columns: 1fr 2fr;
  background-color: rgb(15, 15, 15);
  align-items: center;
}

.first-section-text-container, .second-section-text-container {
  padding: 5% ;
  max-width: 80%;
  /* background-color: rebeccapurple; Smazat */
  min-width: 100px;
} 

.first-section-title, .second-section-title {
  font-size: max(.7vw + .7rem, 2vw);
  font-weight: 550;
  max-width: 95%;
}

.first-section-text, .second-section-text {
  font-size: max(.5vw + .5rem, .9vw);
  font-weight: 450;
}

.first-photo-container, .second-photo-container {
  display: flex;
  align-items: center;
}

.first-photo, .second-photo {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button a {
  text-decoration: none;
  color: inherit;
}

.first-section-button, .second-section-button {
  background-color: black;
  color: rgb(230, 230, 230);
  border: none;
  width: 150px;
  height: 50px;
  box-shadow: 0 0 3px black ;
  border-radius: 76px;
  margin-top: 25px;
}

.second-section-button {
  background-color: rgb(230, 230, 230);
  box-shadow: 0 0 3px rgb(230, 230, 230);
  color: black;
  margin-right: 1.5rem;

}

.third-section .title p {
  display: flex;
  justify-content: center;
  align-self: center;
}

.third-section-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  max-width: calc(3 * 500px + 2 * 1rem);
  gap: 2rem;
  margin: 0 auto;
  padding: 0 10%;
} 

.third-section-boxes p {
  margin: 20px 0 ;
}

.box {
  background-color: wheat;
  padding: 50px;  
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgb(92, 92, 92);  
}
 
.box-icon {
  height: 60px;
} 

.box-icon img{
  height: 100%;
} 

.box-title {
  font-size: 20pt;
  font-weight: 500;
}

.box-text {
  font-size: 12pt;

} 

/* @media (max-width: 1250px) {
  .first-section, .second-section{
    grid-template-columns: 1fr;
  }
}; */
